body {
    background-image:url('giphy.gif');
    background-size:cover; 
    background-repeat: no-repeat; 
    text-align: center;
    text-size-adjust: 29sp;
}

.centralDiv{
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}